*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    width: 100vw;
    max-width: 1980px;
    margin: 0 auto;
    height: 100vh;
    background-color: #dee3e5;
    overflow: hidden;
    color: #1e4d79 !important;
}


/* =================  Header  ================= */

.nav {
    background-color: #1e4d79;
    height: 7vh;
    margin-bottom: 1vh;
}

.nav__title {
    color: #b6c0cb !important;
}

.nav__icon {
    color: #b6c0cb !important;
}

.pulse1 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: auto;
    top: 0;
    left: -8px;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255, 255, 255, .1);
    animation: pulsejg1 1s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: auto;
    top: 0;
    left: -8px;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid #1d88b6;
    animation: pulsejg2 1s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 12px 5px #b6c0cb;
    box-sizing: border-box;
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    50% {
        transform: scale(.6);
        opacity: 0;
    }
    60% {
        transform: scale(.9);
        opacity: .1;
    }
    70% {
        transform: scale(1.1);
        opacity: .25;
    }
    80% {
        transform: scale(1.25);
        opacity: .1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    40% {
        transform: scale(.8);
        opacity: .05;
    }
    50% {
        transform: scale(1);
        opacity: .1;
    }
    60% {
        transform: scale(1.1);
        opacity: .3;
    }
    80% {
        transform: scale(1.2);
        opacity: .1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.search {
    display: none;
    color: #b6c0cb;
}

.search__text {
    color: #dee3e5 !important;
}

.search__text:focus {
    border-bottom: 3px solid #b6c0cb !important;
}

.active {
    color: #dee3e5 !important;
}

.search__hint {
    color: #b6c0cb !important;
}


/* =================  Aside  ================= */

.aside {
    background-color: #1d88b6;
    height: 100vh;
    overflow: hidden;
}

.aside__title {
    text-align: center;
    color: #dee3e5;
    margin: 20px 0;
}

.aside__title-age {
    margin-bottom: 60px;
}

.aside__hint {
    color: #dee3e5;
}

.aside__hint:before {
    border: 2px solid #dee3e5 !important;
}

[type="radio"].with-gap:checked+span:before {
    background-color: #dee3e5 !important;
}

.aside__genderIco {
    width: 40px;
}

.aside__sortAgeIco {
    width: 40px;
    height: 40px;
    transform: rotateZ(-90deg);
}

.aside__uiSlider {
    margin: 0 15px 30px;
}

.filterBtn {
    background: #1e4d79;
    text-align: center;
    color: #dee3e5 !important;
    font-weight: 500;
}

.filterBtn:hover {
    background: #dee3e5 !important;
    color: #1e4d79 !important;
}

.resetBtn {
    background: #dee3e5;
    text-align: center;
    color: #1e4d79 !important;
    font-weight: 500;
}

.resetBtn:hover {
    background: #1e4d79 !important;
    color: #dee3e5 !important;
}

.sidenav-trigger {
    display: block !important;
}

.sidenav-trigger i {
    font-size: 3rem !important;
}


/* =================  Main  ================= */

.main {
    overflow: hidden;
    height: 92vh;
    opacity: 1;
    transition: all ease-in-out 1s;
}

.greeting__word {
    color: #01afd6;
}


/* center the blockquote in the page */

.blockquote-wrapper {
    display: flex;
    height: 80vh;
    padding: 0 20px;
}


/* Blockquote main style */

.blockquote {
    position: relative;
    font-family: "Kaushan Script", cursive;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
}


/* Blockquote header */

.blockquote h1 {
    font-family: "Kaushan Script", cursive;
    position: relative;
    /* for pseudos */
    color: #1e4d79;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 5px solid #01afd6;
    border: solid 5px;
    border-radius: 20px;
    padding: 25px;
}


/* Blockquote right double quotes */

.blockquote h1:after {
    content: "";
    position: absolute;
    border: 5px solid #1e4d79;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.blockquote h1:before {
    content: "";
    position: absolute;
    width: 80px;
    border: 10px solid #dee3e5;
    bottom: -10px;
    left: 50px;
    z-index: 2;
}

.blockquote h4 {
    position: relative;
    color: #1e4d79;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.blockquote h4 a {
    color: #1e4d79;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.blockquote h4:first-letter {
    margin-left: -12px;
}

.greeting__container {
    text-align: center;
    vertical-align: middle;
}

.greeting__text {
    color: #1e4d79;
    margin-bottom: 25px;
}

.startBtn {
    background: #1e4d79;
    text-align: center;
    color: #dee3e5 !important;
    font-weight: 500;
}

.startBtn:hover {
    background: #1d88b6;
}


/* =================  Card  ================= */

.card {
    border-right: 6px solid #1d88b6;
    margin: 0 15px;
    width: calc((100% / 4) - 30px);
    margin-bottom: 30px;
    align-self: stre;
}

.card__img {
    display: block;
    width: 70% !important;
}

.card__title {
    font-weight: 700 !important;
    padding: 5px !important;
    left: 50% !important;
    bottom: 10px !important;
    border-radius: 5px;
    transform: translate(-10%) !important;
    font-size: 18px !important;
    font-family: "Kaushan Script", cursive;
}

.card__title-male {
    background: #1e4d79;
    color: #dee3e5 !important;
}

.card__title-female {
    background: #e4cccb;
    color: #1e4d79 !important;
}

.card__content {
    font-weight: 500 !important;
    text-align: center;
    line-height: 1.2rem;
}

.card__contentData {
    font-family: "Kaushan Script", cursive;
    color: #1d88b6 !important;
}

.card__contentData-mail {
    font-size: 12px;
    text-transform: lowercase !important;
    cursor: pointer;
}


/* increase header size after 600px */

@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
}
