*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    width: 100vw;
    max-width: 1980px;
    margin: 0 auto;
    height: 100vh;
    background-color: #dee3e5;
    overflow: hidden;
    color: #1e4d79 !important;
}

.nav {
    background-color: #1e4d79;
    height: 7vh;
    margin-bottom: 1vh;
}

.nav__icon,
.nav__title {
    color: #b6c0cb !important;
}

.sidenav {
    background-color: #1d88b6;
    height: 100vh;
}

.sidenav-trigger {
    display: block !important;
}

.sidenav-trigger i {
    font-size: 3rem !important;
}

.main {
    /* position: relative; */
    /* overflow: auto; */
    /* max-height: auto; */
    height: 92vh;
    opacity: 1;
    transition: opacity ease-in-out 1s;
}

.greeting__word {
    color: #01afd6;
}


/* center the blockquote in the page */

.blockquote-wrapper {
    display: flex;
    height: 100vh;
    padding: 0 20px;
}


/* Blockquote main style */

.blockquote {
    position: relative;
    font-family: "Kaushan Script", cursive;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
}


/* Blockquote header */

.blockquote h1 {
    font-family: "Kaushan Script", cursive;
    position: relative;
    /* for pseudos */
    color: #1e4d79;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 5px solid #01afd6;
    border: solid 5px;
    border-radius: 20px;
    padding: 25px;
}


/* Blockquote right double quotes */

.blockquote h1:after {
    content: "";
    position: absolute;
    border: 5px solid #1e4d79;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.blockquote h1:before {
    content: "";
    position: absolute;
    width: 80px;
    border: 10px solid #dee3e5;
    bottom: -10px;
    left: 50px;
    z-index: 2;
}

.blockquote h4 {
    position: relative;
    color: #1e4d79;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.blockquote h4 a {
    color: #1e4d79;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.blockquote h4:first-letter {
    margin-left: -12px;
}

.greeting__container {
    text-align: center;
    vertical-align: middle;
}

.greeting__text {
    color: #1e4d79;
    margin-bottom: 25px;
}

.startBtn {
    background: #1e4d79;
    text-align: center;
    color: #dee3e5 !important;
    font-weight: 500;
}

.startBtn:hover {
    background: #1d88b6;
}

.card__img {
    display: block;
    width: 70% !important;
}

.card__title {
    color: #dee3e5 !important;
    font-weight: 700 !important;
    background: #1e4d79;
    padding: 5px !important;
    left: 50% !important;
    bottom: 10px !important;
    border-radius: 5px;
    font-size: 18px !important;
}


/* increase header size after 600px */

@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
}
