.hideElem {
    opacity: 0;
}

.flexContainerRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 -15px;
}

.flexContainerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100%;
}
